body{
    background-color: #0C480B;
}

.bg-color{
    background-color: white;
}

.header{
    background-color: white;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;
}

.logo{
    padding-top: 15px;
}

.menuitems{
    float: right;
    padding: 40px 25px;
}

.link {
    padding: 8px 22px;
    color: #0C480B;
    text-decoration: none;
    font-family: 'Jacques Francois', serif;
    font-size: 1.5rem;
}

.divider {
    border-left: 6px solid #0C480B;
}

.button {
    color: #FFFF;
    background-color: #C95625;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 140%);
    font-family: 'Quicksand';
    text-shadow: 8px;
    font-size: 1.75rem;
    padding: 20px 30px;
    box-shadow: 0px 7px 5px #202020;
}

.panel {
    padding: 10%;
    display: flex;
    justify-content: center;
}

#center {
    border-radius: 150px;
    opacity: 0.5;
}

.container {
    position: relative;
    color: white;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Allison';
    font-weight: bold;
    text-shadow: 8px;
    font-size: 5rem;
}

.menu-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 100px 0px 0px 0px;
}

.menu-item-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 0px 0px 100px 0px;
}

.text-block {
    display: inline-block;
    text-align: center;
    font-family: 'Allison';
    font-weight: 8px;
    color: #0C480B;
    text-shadow: 5px;
    font-size: 2rem;
}

.item-block{
    display: inline-block;
    text-align: left;
    font-family: 'Jacques Francois';
    font-weight: 8px;
    text-shadow: 5px;
    font-size: 2rem;
}

li{
    list-style-type: none;  
}

.button-two{
    color: #FFFF;
    background-color: #C95625;
    border-radius: 40px;
    font-family: 'Quicksand';
    text-shadow: 8px;
    font-size: 2.25rem;
    padding: 20px 120px;
    box-shadow: 0px 7px 5px #202020;
    text-align: center;
    transform: translate(14%);
}